fastapi==0.115.3
uvicorn[standard]==0.32.0
prometheus-client==0.21.0
pydantic==2.9.2
python-json-logger==2.0.7
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-instrumentation-fastapi==0.48b0
pandas==2.2.0
scikit-learn==1.4.0
